$bi-account-box-solid: '\e900';
$bi-agriculture-solid: '\e901';
$bi-alternate-email-solid: '\e902';
$bi-arrow-back-solid: '\e903';
$bi-arrow-circle-right-solid: '\e904';
$bi-arrow-forward-solid: '\e905';
$bi-arrow-north-east-solid: '\e906';
$bi-arrow-north-solid: '\e907';
$bi-arrow-north-weast-solid: '\e908';
$bi-arrow-selector-tool-solid: '\e909';
$bi-arrow-south-solid: '\e90a';
$bi-article-solid: '\e90b';
$bi-assignment-solid: '\e90c';
$bi-autorenew-solid: '\e90d';
$bi-bank-solid: '\e90e';
$bi-bevipentagono-solid: '\e90f';
$bi-beviprotege-solid: '\e910';
$bi-blocks-solid: '\e911';
$bi-bolt-solid: '\e912';
$bi-bookmark-solid: '\e913';
$bi-book-solid: '\e914';
$bi-campaign-solid: '\e915';
$bi-chalkboard-user-solid: '\e916';
$bi-chart-line-up-solid: '\e917';
$bi-chat-solid: '\e918';
$bi-check-circle-solid: '\e919';
$bi-chevron-back-solid: '\e91a';
$bi-chevron-down-solid: '\e91b';
$bi-chevron-forward-solid: '\e91c';
$bi-chevron-left-solid: '\e91d';
$bi-chevron-right-solid: '\e91e';
$bi-chevron-up-solid: '\e91f';
$bi-cloud-solid: '\e920';
$bi-construction-solid: '\e921';
$bi-contact-mail-solid: '\e922';
$bi-contact-phone-solid: '\e923';
$bi-contact-support-solid: '\e924';
$bi-corporate-solid: '\e925';
$bi-credit-card-solid: '\e926';
$bi-cube-solid: '\e927';
$bi-description-solid: '\e928';
$bi-directions-car-solid: '\e929';
$bi-door-open-solid: '\e92a';
$bi-draft-solid: '\e92b';
$bi-drafts-solid: '\e92c';
$bi-eco-solid: '\e92d';
$bi-email-content-solid: '\e92e';
$bi-emergency-home-solid: '\e92f';
$bi-event-solid: '\e930';
$bi-facebook-solid: '\e931';
$bi-face-retouching-natural-solid: '\e932';
$bi-fact-check-solid: '\e933';
$bi-falabevi-solid: '\e934';
$bi-feed-solid: '\e935';
$bi-fgts-solid: '\e936';
$bi-groups-solid: '\e937';
$bi-hand-archive-solid: '\e938';
$bi-hand-credit-card-solid: '\e939';
$bi-hand-house-solid: '\e93a';
$bi-hand-money-solid: '\e93b';
$bi-handshake-business-solid: '\e93c';
$bi-headset-mic-solid: '\e93d';
$bi-heart-solid: '\e93e';
$bi-help-center-solid: '\e93f';
$bi-help-solid: '\e940';
$bi-home-solid: '\e941';
$bi-house-car-solid: '\e942';
$bi-import-contacts-solid: '\e943';
$bi-instagram-solid: '\e944';
$bi-key-solid: '\e945';
$bi-label-solid: '\e946';
$bi-launch-solid: '\e947';
$bi-lightbulb-solid: '\e948';
$bi-linkedin-solid: '\e949';
$bi-list-alt-solid: '\e94a';
$bi-local-shipping-solid: '\e94b';
$bi-lock-person-solid: '\e94c';
$bi-lock-solid: '\e94d';
$bi-luggage-solid: '\e94e';
$bi-mail-solid: '\e94f';
$bi-mark-as-unread-solid: '\e950';
$bi-medal-honor-solid: '\e951';
$bi-medal-solid: '\e952';
$bi-money-solid: '\e953';
$bi-mood-solid: '\e954';
$bi-perm-phone-msg-solid: '\e955';
$bi-person-remove-solid: '\e956';
$bi-person-solid: '\e957';
$bi-phone-in-talk-solid: '\e958';
$bi-pie-chart-solid: '\e959';
$bi-place-solid: '\e95a';
$bi-query-stats-solid: '\e95b';
$bi-question-answer-solid: '\e95c';
$bi-quiz-solid: '\e95d';
$bi-sack-money-solid: '\e95e';
$bi-saving-pigs-solid: '\e95f';
$bi-school-solid: '\e960';
$bi-search-solid: '\e961';
$bi-sentiment-dissatisfied-solid: '\e962';
$bi-sentiment-satisfied-solid: '\e963';
$bi-sentiment-very-satisfied-solid: '\e964';
$bi-settings-solid: '\e965';
$bi-shield-with-house-solid: '\e966';
$bi-smart-display-solid: '\e967';
$bi-smartphone-solid: '\e968';
$bi-snap-solid: '\e969';
$bi-solar-panel-solid: '\e96a';
$bi-speaker-notes-solid: '\e96b';
$bi-speed-solid: '\e96c';
$bi-sports-motorsports-solid: '\e96d';
$bi-swipe-right-solid: '\e96e';
$bi-target-solid: '\e96f';
$bi-thumb-up-solid: '\e970';
$bi-trophy-solid: '\e971';
$bi-verified-solid: '\e972';
$bi-warning-solid: '\e973';
$bi-watch-later-solid: '\e974';
$bi-wifi-solid: '\e975';
$bi-work-solid: '\e976';
$bi-youtube-solid: '\e977';
