$bv-account-box-solid: '\e900';
$bv-agriculture-solid: '\e901';
$bv-arrow-circle-right-solid: '\e902';
$bv-arrow-selector-tool-solid: '\e903';
$bv-autorenew-solid: '\e904';
$bv-bevipentagono-solid: '\e905';
$bv-beviprotege-solid: '\e906';
$bv-blocks-solid: '\e907';
$bv-bolt-solid: '\e908';
$bv-book-solid: '\e909';
$bv-campaign-solid: '\e90a';
$bv-chalkboard-user-solid: '\e90b';
$bv-chart-line-up-solid: '\e90c';
$bv-cloud-solid: '\e90d';
$bv-construction-solid: '\e90e';
$bv-credit-card-solid: '\e90f';
$bv-cube-solid: '\e910';
$bv-directions-car-solid: '\e911';
$bv-door-open-solid: '\e912';
$bv-eco-solid: '\e913';
$bv-emergency-home-solid: '\e914';
$bv-event-solid: '\e915';
$bv-face-retouching-natural-solid: '\e916';
$bv-falabevi-solid: '\e917';
$bv-fgts-solid: '\e918';
$bv-groups-solid: '\e919';
$bv-hand-archive-solid: '\e91a';
$bv-hand-credit-card-solid: '\e91b';
$bv-hand-house-solid: '\e91c';
$bv-hand-money-solid: '\e91d';
$bv-handshake-business-solid: '\e91e';
$bv-headset-mic-solid: '\e91f';
$bv-heart-solid: '\e920';
$bv-home-solid: '\e921';
$bv-house-car-solid: '\e922';
$bv-key-solid: '\e923';
$bv-label-solid: '\e924';
$bv-lightbulb-solid: '\e925';
$bv-local-shipping-solid: '\e926';
$bv-luggage-solid: '\e927';
$bv-medal-solid: '\e928';
$bv-money-solid: '\e929';
$bv-person-remove-solid: '\e92a';
$bv-person-solid: '\e92b';
$bv-place-solid: '\e92c';
$bv-question-answer-solid: '\e92d';
$bv-sack-money-solid: '\e92e';
$bv-saving-pigs-solid: '\e92f';
$bv-search-solid: '\e930';
$bv-smart-display-solid: '\e931';
$bv-smartphone-solid: '\e932';
$bv-snap-solid: '\e933';
$bv-solar-panel-solid: '\e934';
$bv-swipe-right-solid: '\e935';
$bv-target-solid: '\e936';
$bv-verified-solid: '\e937';
$bv-warning-solid: '\e938';
$bv-watch-later-solid: '\e939';
$bv-wifi-solid: '\e93a';
$bv-work-solid: '\e93b';
$bv-add-solid: '\e93c';
$bv-arrow-back-solid: '\e93d';
$bv-arrow-forward-solid: '\e93e';
$bv-arrow-north-east-solid: '\e93f';
$bv-arrow-north-solid: '\e940';
$bv-arrow-north-weast-solid: '\e941';
$bv-arrow-south-solid: '\e942';
$bv-chevron-back-solid: '\e943';
$bv-chevron-down-solid: '\e944';
$bv-chevron-downward-solid: '\e945';
$bv-chevron-forward-solid: '\e946';
$bv-chevron-left-solid: '\e947';
$bv-chevron-right-solid: '\e948';
$bv-chevron-up-solid: '\e95f';
$bv-chevron-upward-solid: '\e9b5';
$bv-close-solid: '\e9b6';
$bv-launch-solid: '\e9b7';
$bv-remove-solid: '\e9b8';
$bv-alternate-email-solid: '\e949';
$bv-article-solid: '\e94a';
$bv-assignment-solid: '\e94b';
$bv-bank-solid: '\e94c';
$bv-bookmark-solid: '\e94d';
$bv-chat-solid: '\e94e';
$bv-check-circle-solid: '\e94f';
$bv-contact-mail-solid: '\e950';
$bv-contact-phone-solid: '\e951';
$bv-contact-support-solid: '\e952';
$bv-corporate-solid: '\e953';
$bv-description-solid: '\e954';
$bv-draft-solid: '\e955';
$bv-drafts-solid: '\e956';
$bv-email-content-solid: '\e957';
$bv-facebook-solid: '\e958';
$bv-fact-check-solid: '\e959';
$bv-feed-solid: '\e95a';
$bv-help-center-solid: '\e95b';
$bv-help-solid: '\e95c';
$bv-import-contacts-solid: '\e95d';
$bv-instagram-solid: '\e95e';
$bv-linkedin-solid: '\e960';
$bv-list-alt-solid: '\e961';
$bv-lock-person-solid: '\e962';
$bv-lock-solid: '\e963';
$bv-mail-solid: '\e964';
$bv-mark-as-unread-solid: '\e965';
$bv-medal-honor-solid: '\e966';
$bv-mood-solid: '\e967';
$bv-perm-phone-msg-solid: '\e968';
$bv-phone-in-talk-solid: '\e969';
$bv-pie-chart-solid: '\e96a';
$bv-query-stats-solid: '\e96b';
$bv-quiz-solid: '\e96c';
$bv-school-solid: '\e96d';
$bv-sentiment-dissatisfied-solid: '\e96e';
$bv-sentiment-satisfied-solid: '\e96f';
$bv-sentiment-very-satisfied-solid: '\e970';
$bv-settings-solid: '\e971';
$bv-shield-with-house-solid: '\e972';
$bv-speaker-notes-solid: '\e973';
$bv-speed-solid: '\e974';
$bv-sports-motorsports-solid: '\e975';
$bv-thumb-up-solid: '\e976';
$bv-trophy-solid: '\e977';
$bv-youtube-solid: '\e978';
$bv-acute-solid: '\e979';
$bv-add-task-solid: '\e97a';
$bv-approval-delegation-solid: '\e97b';
$bv-auto-graph-solid: '\e97c';
$bv-badge-solid: '\e97d';
$bv-big-debts-solid: '\e97e';
$bv-brightness-hight-solid: '\e97f';
$bv-build-solid: '\e980';
$bv-calculate-solid: '\e981';
$bv-chart-line-down-solid: '\e982';
$bv-content-cut-solid: '\e983';
$bv-crane-solid: '\e984';
$bv-database-solid: '\e985';
$bv-desktop-solid: '\e986';
$bv-devices-solid: '\e987';
$bv-directions-boat-solid: '\e988';
$bv-donut-small-solid: '\e989';
$bv-dove-solid: '\e98a';
$bv-elderly-solid: '\e98b';
$bv-emergency-solid: '\e98c';
$bv-event-available-solid: '\e98d';
$bv-event-busy-solid: '\e98e';
$bv-free-cancellation-solid: '\e98f';
$bv-gasoline-solid: '\e990';
$bv-gold-solid: '\e991';
$bv-health-and-safety-solid: '\e992';
$bv-heap-snapshot-large-solid: '\e993';
$bv-home-moving-solid: '\e994';
$bv-hourglass-top-solid: '\e995';
$bv-interest-free-solid: '\e996';
$bv-iventory-solid: '\e997';
$bv-laptop-chart-solid: '\e998';
$bv-laptop-money-solid: '\e999';
$bv-laptop-plus-solid: '\e99a';
$bv-laptop-solid: '\e99b';
$bv-leaderboard-solid: '\e99c';
$bv-lock-open-solid: '\e99d';
$bv-money-plus-solid: '\e99e';
$bv-money-time-solid: '\e99f';
$bv-nutrition-solid: '\e9a0';
$bv-order-approve-solid: '\e9a1';
$bv-overview-solid: '\e9a2';
$bv-paid-solid: '\e9a3';
$bv-pending-actions-solid: '\e9a4';
$bv-pix-solid: '\e9a5';
$bv-price-check-solid: '\e9a6';
$bv-psychiatry-solid: '\e9a7';
$bv-repaid-solid: '\e9a8';
$bv-security-solid: '\e9a9';
$bv-sell-solid: '\e9aa';
$bv-shopping-basket-solid: '\e9ab';
$bv-stethoscope-solid: '\e9ac';
$bv-storefront-solid: '\e9ad';
$bv-surprise-box-solid: '\e9ae';
$bv-tax-paper-solid: '\e9af';
$bv-timelapse-solid: '\e9b0';
$bv-today-solid: '\e9b1';
$bv-verified-user-solid: '\e9b2';
$bv-wallet-solid: '\e9b3';
$bv-wheel-solid: '\e9b4';
