$bi-account-box-solid: '\e900';
$bi-agriculture-solid: '\e901';
$bi-arrow-circle-right-solid: '\e902';
$bi-arrow-selector-tool-solid: '\e903';
$bi-autorenew-solid: '\e904';
$bi-bevipentagono-solid: '\e905';
$bi-beviprotege-solid: '\e906';
$bi-blocks-solid: '\e907';
$bi-bolt-solid: '\e908';
$bi-book-solid: '\e909';
$bi-campaign-solid: '\e90a';
$bi-chalkboard-user-solid: '\e90b';
$bi-chart-line-up-solid: '\e90c';
$bi-cloud-solid: '\e90d';
$bi-construction-solid: '\e90e';
$bi-credit-card-solid: '\e90f';
$bi-cube-solid: '\e910';
$bi-directions-car-solid: '\e911';
$bi-door-open-solid: '\e912';
$bi-eco-solid: '\e913';
$bi-emergency-home-solid: '\e914';
$bi-event-solid: '\e915';
$bi-face-retouching-natural-solid: '\e916';
$bi-falabevi-solid: '\e917';
$bi-fgts-solid: '\e918';
$bi-groups-solid: '\e919';
$bi-hand-archive-solid: '\e91a';
$bi-hand-credit-card-solid: '\e91b';
$bi-hand-house-solid: '\e91c';
$bi-hand-money-solid: '\e91d';
$bi-handshake-business-solid: '\e91e';
$bi-headset-mic-solid: '\e91f';
$bi-heart-solid: '\e920';
$bi-home-solid: '\e921';
$bi-house-car-solid: '\e922';
$bi-key-solid: '\e923';
$bi-label-solid: '\e924';
$bi-lightbulb-solid: '\e925';
$bi-local-shipping-solid: '\e926';
$bi-luggage-solid: '\e927';
$bi-medal-solid: '\e928';
$bi-money-solid: '\e929';
$bi-person-remove-solid: '\e92a';
$bi-person-solid: '\e92b';
$bi-place-solid: '\e92c';
$bi-question-answer-solid: '\e92d';
$bi-sack-money-solid: '\e92e';
$bi-saving-pigs-solid: '\e92f';
$bi-search-solid: '\e930';
$bi-smart-display-solid: '\e931';
$bi-smartphone-solid: '\e932';
$bi-snap-solid: '\e933';
$bi-solar-panel-solid: '\e934';
$bi-swipe-right-solid: '\e935';
$bi-target-solid: '\e936';
$bi-verified-solid: '\e937';
$bi-warning-solid: '\e938';
$bi-watch-later-solid: '\e939';
$bi-wifi-solid: '\e93a';
$bi-work-solid: '\e93b';
