.bi-account-box-solid {
	&:before {
		content: $bi-account-box-solid;
	}
}
.bi-agriculture-solid {
	&:before {
		content: $bi-agriculture-solid;
	}
}
.bi-arrow-circle-right-solid {
	&:before {
		content: $bi-arrow-circle-right-solid;
	}
}
.bi-arrow-selector-tool-solid {
	&:before {
		content: $bi-arrow-selector-tool-solid;
	}
}
.bi-autorenew-solid {
	&:before {
		content: $bi-autorenew-solid;
	}
}
.bi-bevipentagono-solid {
	&:before {
		content: $bi-bevipentagono-solid;
	}
}
.bi-beviprotege-solid {
	&:before {
		content: $bi-beviprotege-solid;
	}
}
.bi-blocks-solid {
	&:before {
		content: $bi-blocks-solid;
	}
}
.bi-bolt-solid {
	&:before {
		content: $bi-bolt-solid;
	}
}
.bi-book-solid {
	&:before {
		content: $bi-book-solid;
	}
}
.bi-campaign-solid {
	&:before {
		content: $bi-campaign-solid;
	}
}
.bi-chalkboard-user-solid {
	&:before {
		content: $bi-chalkboard-user-solid;
	}
}
.bi-chart-line-up-solid {
	&:before {
		content: $bi-chart-line-up-solid;
	}
}
.bi-cloud-solid {
	&:before {
		content: $bi-cloud-solid;
	}
}
.bi-construction-solid {
	&:before {
		content: $bi-construction-solid;
	}
}
.bi-credit-card-solid {
	&:before {
		content: $bi-credit-card-solid;
	}
}
.bi-cube-solid {
	&:before {
		content: $bi-cube-solid;
	}
}
.bi-directions-car-solid {
	&:before {
		content: $bi-directions-car-solid;
	}
}
.bi-door-open-solid {
	&:before {
		content: $bi-door-open-solid;
	}
}
.bi-eco-solid {
	&:before {
		content: $bi-eco-solid;
	}
}
.bi-emergency-home-solid {
	&:before {
		content: $bi-emergency-home-solid;
	}
}
.bi-event-solid {
	&:before {
		content: $bi-event-solid;
	}
}
.bi-face-retouching-natural-solid {
	&:before {
		content: $bi-face-retouching-natural-solid;
	}
}
.bi-falabevi-solid {
	&:before {
		content: $bi-falabevi-solid;
	}
}
.bi-fgts-solid {
	&:before {
		content: $bi-fgts-solid;
	}
}
.bi-groups-solid {
	&:before {
		content: $bi-groups-solid;
	}
}
.bi-hand-archive-solid {
	&:before {
		content: $bi-hand-archive-solid;
	}
}
.bi-hand-credit-card-solid {
	&:before {
		content: $bi-hand-credit-card-solid;
	}
}
.bi-hand-house-solid {
	&:before {
		content: $bi-hand-house-solid;
	}
}
.bi-hand-money-solid {
	&:before {
		content: $bi-hand-money-solid;
	}
}
.bi-handshake-business-solid {
	&:before {
		content: $bi-handshake-business-solid;
	}
}
.bi-headset-mic-solid {
	&:before {
		content: $bi-headset-mic-solid;
	}
}
.bi-heart-solid {
	&:before {
		content: $bi-heart-solid;
	}
}
.bi-home-solid {
	&:before {
		content: $bi-home-solid;
	}
}
.bi-house-car-solid {
	&:before {
		content: $bi-house-car-solid;
	}
}
.bi-key-solid {
	&:before {
		content: $bi-key-solid;
	}
}
.bi-label-solid {
	&:before {
		content: $bi-label-solid;
	}
}
.bi-lightbulb-solid {
	&:before {
		content: $bi-lightbulb-solid;
	}
}
.bi-local-shipping-solid {
	&:before {
		content: $bi-local-shipping-solid;
	}
}
.bi-luggage-solid {
	&:before {
		content: $bi-luggage-solid;
	}
}
.bi-medal-solid {
	&:before {
		content: $bi-medal-solid;
	}
}
.bi-money-solid {
	&:before {
		content: $bi-money-solid;
	}
}
.bi-person-remove-solid {
	&:before {
		content: $bi-person-remove-solid;
	}
}
.bi-person-solid {
	&:before {
		content: $bi-person-solid;
	}
}
.bi-place-solid {
	&:before {
		content: $bi-place-solid;
	}
}
.bi-question-answer-solid {
	&:before {
		content: $bi-question-answer-solid;
	}
}
.bi-sack-money-solid {
	&:before {
		content: $bi-sack-money-solid;
	}
}
.bi-saving-pigs-solid {
	&:before {
		content: $bi-saving-pigs-solid;
	}
}
.bi-search-solid {
	&:before {
		content: $bi-search-solid;
	}
}
.bi-smart-display-solid {
	&:before {
		content: $bi-smart-display-solid;
	}
}
.bi-smartphone-solid {
	&:before {
		content: $bi-smartphone-solid;
	}
}
.bi-snap-solid {
	&:before {
		content: $bi-snap-solid;
	}
}
.bi-solar-panel-solid {
	&:before {
		content: $bi-solar-panel-solid;
	}
}
.bi-swipe-right-solid {
	&:before {
		content: $bi-swipe-right-solid;
	}
}
.bi-target-solid {
	&:before {
		content: $bi-target-solid;
	}
}
.bi-verified-solid {
	&:before {
		content: $bi-verified-solid;
	}
}
.bi-warning-solid {
	&:before {
		content: $bi-warning-solid;
	}
}
.bi-watch-later-solid {
	&:before {
		content: $bi-watch-later-solid;
	}
}
.bi-wifi-solid {
	&:before {
		content: $bi-wifi-solid;
	}
}
.bi-work-solid {
	&:before {
		content: $bi-work-solid;
	}
}
