.bv-account-box-solid {
	&:before {
		content: $bv-account-box-solid;
	}
}
.bv-agriculture-solid {
	&:before {
		content: $bv-agriculture-solid;
	}
}
.bv-arrow-circle-right-solid {
	&:before {
		content: $bv-arrow-circle-right-solid;
	}
}
.bv-arrow-selector-tool-solid {
	&:before {
		content: $bv-arrow-selector-tool-solid;
	}
}
.bv-autorenew-solid {
	&:before {
		content: $bv-autorenew-solid;
	}
}
.bv-bevipentagono-solid {
	&:before {
		content: $bv-bevipentagono-solid;
	}
}
.bv-beviprotege-solid {
	&:before {
		content: $bv-beviprotege-solid;
	}
}
.bv-blocks-solid {
	&:before {
		content: $bv-blocks-solid;
	}
}
.bv-bolt-solid {
	&:before {
		content: $bv-bolt-solid;
	}
}
.bv-book-solid {
	&:before {
		content: $bv-book-solid;
	}
}
.bv-campaign-solid {
	&:before {
		content: $bv-campaign-solid;
	}
}
.bv-chalkboard-user-solid {
	&:before {
		content: $bv-chalkboard-user-solid;
	}
}
.bv-chart-line-up-solid {
	&:before {
		content: $bv-chart-line-up-solid;
	}
}
.bv-cloud-solid {
	&:before {
		content: $bv-cloud-solid;
	}
}
.bv-construction-solid {
	&:before {
		content: $bv-construction-solid;
	}
}
.bv-credit-card-solid {
	&:before {
		content: $bv-credit-card-solid;
	}
}
.bv-cube-solid {
	&:before {
		content: $bv-cube-solid;
	}
}
.bv-directions-car-solid {
	&:before {
		content: $bv-directions-car-solid;
	}
}
.bv-door-open-solid {
	&:before {
		content: $bv-door-open-solid;
	}
}
.bv-eco-solid {
	&:before {
		content: $bv-eco-solid;
	}
}
.bv-emergency-home-solid {
	&:before {
		content: $bv-emergency-home-solid;
	}
}
.bv-event-solid {
	&:before {
		content: $bv-event-solid;
	}
}
.bv-face-retouching-natural-solid {
	&:before {
		content: $bv-face-retouching-natural-solid;
	}
}
.bv-falabevi-solid {
	&:before {
		content: $bv-falabevi-solid;
	}
}
.bv-fgts-solid {
	&:before {
		content: $bv-fgts-solid;
	}
}
.bv-groups-solid {
	&:before {
		content: $bv-groups-solid;
	}
}
.bv-hand-archive-solid {
	&:before {
		content: $bv-hand-archive-solid;
	}
}
.bv-hand-credit-card-solid {
	&:before {
		content: $bv-hand-credit-card-solid;
	}
}
.bv-hand-house-solid {
	&:before {
		content: $bv-hand-house-solid;
	}
}
.bv-hand-money-solid {
	&:before {
		content: $bv-hand-money-solid;
	}
}
.bv-handshake-business-solid {
	&:before {
		content: $bv-handshake-business-solid;
	}
}
.bv-headset-mic-solid {
	&:before {
		content: $bv-headset-mic-solid;
	}
}
.bv-heart-solid {
	&:before {
		content: $bv-heart-solid;
	}
}
.bv-home-solid {
	&:before {
		content: $bv-home-solid;
	}
}
.bv-house-car-solid {
	&:before {
		content: $bv-house-car-solid;
	}
}
.bv-key-solid {
	&:before {
		content: $bv-key-solid;
	}
}
.bv-label-solid {
	&:before {
		content: $bv-label-solid;
	}
}
.bv-lightbulb-solid {
	&:before {
		content: $bv-lightbulb-solid;
	}
}
.bv-local-shipping-solid {
	&:before {
		content: $bv-local-shipping-solid;
	}
}
.bv-luggage-solid {
	&:before {
		content: $bv-luggage-solid;
	}
}
.bv-medal-solid {
	&:before {
		content: $bv-medal-solid;
	}
}
.bv-money-solid {
	&:before {
		content: $bv-money-solid;
	}
}
.bv-person-remove-solid {
	&:before {
		content: $bv-person-remove-solid;
	}
}
.bv-person-solid {
	&:before {
		content: $bv-person-solid;
	}
}
.bv-place-solid {
	&:before {
		content: $bv-place-solid;
	}
}
.bv-question-answer-solid {
	&:before {
		content: $bv-question-answer-solid;
	}
}
.bv-sack-money-solid {
	&:before {
		content: $bv-sack-money-solid;
	}
}
.bv-saving-pigs-solid {
	&:before {
		content: $bv-saving-pigs-solid;
	}
}
.bv-search-solid {
	&:before {
		content: $bv-search-solid;
	}
}
.bv-smart-display-solid {
	&:before {
		content: $bv-smart-display-solid;
	}
}
.bv-smartphone-solid {
	&:before {
		content: $bv-smartphone-solid;
	}
}
.bv-snap-solid {
	&:before {
		content: $bv-snap-solid;
	}
}
.bv-solar-panel-solid {
	&:before {
		content: $bv-solar-panel-solid;
	}
}
.bv-swipe-right-solid {
	&:before {
		content: $bv-swipe-right-solid;
	}
}
.bv-target-solid {
	&:before {
		content: $bv-target-solid;
	}
}
.bv-verified-solid {
	&:before {
		content: $bv-verified-solid;
	}
}
.bv-warning-solid {
	&:before {
		content: $bv-warning-solid;
	}
}
.bv-watch-later-solid {
	&:before {
		content: $bv-watch-later-solid;
	}
}
.bv-wifi-solid {
	&:before {
		content: $bv-wifi-solid;
	}
}
.bv-work-solid {
	&:before {
		content: $bv-work-solid;
	}
}
.bv-add-solid {
	&:before {
		content: $bv-add-solid;
	}
}
.bv-arrow-back-solid {
	&:before {
		content: $bv-arrow-back-solid;
	}
}
.bv-arrow-forward-solid {
	&:before {
		content: $bv-arrow-forward-solid;
	}
}
.bv-arrow-north-east-solid {
	&:before {
		content: $bv-arrow-north-east-solid;
	}
}
.bv-arrow-north-solid {
	&:before {
		content: $bv-arrow-north-solid;
	}
}
.bv-arrow-north-weast-solid {
	&:before {
		content: $bv-arrow-north-weast-solid;
	}
}
.bv-arrow-south-solid {
	&:before {
		content: $bv-arrow-south-solid;
	}
}
.bv-chevron-back-solid {
	&:before {
		content: $bv-chevron-back-solid;
	}
}
.bv-chevron-down-solid {
	&:before {
		content: $bv-chevron-down-solid;
	}
}
.bv-chevron-downward-solid {
	&:before {
		content: $bv-chevron-downward-solid;
	}
}
.bv-chevron-forward-solid {
	&:before {
		content: $bv-chevron-forward-solid;
	}
}
.bv-chevron-left-solid {
	&:before {
		content: $bv-chevron-left-solid;
	}
}
.bv-chevron-right-solid {
	&:before {
		content: $bv-chevron-right-solid;
	}
}
.bv-chevron-up-solid {
	&:before {
		content: $bv-chevron-up-solid;
	}
}
.bv-chevron-upward-solid {
	&:before {
		content: $bv-chevron-upward-solid;
	}
}
.bv-close-solid {
	&:before {
		content: $bv-close-solid;
	}
}
.bv-launch-solid {
	&:before {
		content: $bv-launch-solid;
	}
}
.bv-remove-solid {
	&:before {
		content: $bv-remove-solid;
	}
}
.bv-alternate-email-solid {
	&:before {
		content: $bv-alternate-email-solid;
	}
}
.bv-article-solid {
	&:before {
		content: $bv-article-solid;
	}
}
.bv-assignment-solid {
	&:before {
		content: $bv-assignment-solid;
	}
}
.bv-bank-solid {
	&:before {
		content: $bv-bank-solid;
	}
}
.bv-bookmark-solid {
	&:before {
		content: $bv-bookmark-solid;
	}
}
.bv-chat-solid {
	&:before {
		content: $bv-chat-solid;
	}
}
.bv-check-circle-solid {
	&:before {
		content: $bv-check-circle-solid;
	}
}
.bv-contact-mail-solid {
	&:before {
		content: $bv-contact-mail-solid;
	}
}
.bv-contact-phone-solid {
	&:before {
		content: $bv-contact-phone-solid;
	}
}
.bv-contact-support-solid {
	&:before {
		content: $bv-contact-support-solid;
	}
}
.bv-corporate-solid {
	&:before {
		content: $bv-corporate-solid;
	}
}
.bv-description-solid {
	&:before {
		content: $bv-description-solid;
	}
}
.bv-draft-solid {
	&:before {
		content: $bv-draft-solid;
	}
}
.bv-drafts-solid {
	&:before {
		content: $bv-drafts-solid;
	}
}
.bv-email-content-solid {
	&:before {
		content: $bv-email-content-solid;
	}
}
.bv-facebook-solid {
	&:before {
		content: $bv-facebook-solid;
	}
}
.bv-fact-check-solid {
	&:before {
		content: $bv-fact-check-solid;
	}
}
.bv-feed-solid {
	&:before {
		content: $bv-feed-solid;
	}
}
.bv-help-center-solid {
	&:before {
		content: $bv-help-center-solid;
	}
}
.bv-help-solid {
	&:before {
		content: $bv-help-solid;
	}
}
.bv-import-contacts-solid {
	&:before {
		content: $bv-import-contacts-solid;
	}
}
.bv-instagram-solid {
	&:before {
		content: $bv-instagram-solid;
	}
}
.bv-linkedin-solid {
	&:before {
		content: $bv-linkedin-solid;
	}
}
.bv-list-alt-solid {
	&:before {
		content: $bv-list-alt-solid;
	}
}
.bv-lock-person-solid {
	&:before {
		content: $bv-lock-person-solid;
	}
}
.bv-lock-solid {
	&:before {
		content: $bv-lock-solid;
	}
}
.bv-mail-solid {
	&:before {
		content: $bv-mail-solid;
	}
}
.bv-mark-as-unread-solid {
	&:before {
		content: $bv-mark-as-unread-solid;
	}
}
.bv-medal-honor-solid {
	&:before {
		content: $bv-medal-honor-solid;
	}
}
.bv-mood-solid {
	&:before {
		content: $bv-mood-solid;
	}
}
.bv-perm-phone-msg-solid {
	&:before {
		content: $bv-perm-phone-msg-solid;
	}
}
.bv-phone-in-talk-solid {
	&:before {
		content: $bv-phone-in-talk-solid;
	}
}
.bv-pie-chart-solid {
	&:before {
		content: $bv-pie-chart-solid;
	}
}
.bv-query-stats-solid {
	&:before {
		content: $bv-query-stats-solid;
	}
}
.bv-quiz-solid {
	&:before {
		content: $bv-quiz-solid;
	}
}
.bv-school-solid {
	&:before {
		content: $bv-school-solid;
	}
}
.bv-sentiment-dissatisfied-solid {
	&:before {
		content: $bv-sentiment-dissatisfied-solid;
	}
}
.bv-sentiment-satisfied-solid {
	&:before {
		content: $bv-sentiment-satisfied-solid;
	}
}
.bv-sentiment-very-satisfied-solid {
	&:before {
		content: $bv-sentiment-very-satisfied-solid;
	}
}
.bv-settings-solid {
	&:before {
		content: $bv-settings-solid;
	}
}
.bv-shield-with-house-solid {
	&:before {
		content: $bv-shield-with-house-solid;
	}
}
.bv-speaker-notes-solid {
	&:before {
		content: $bv-speaker-notes-solid;
	}
}
.bv-speed-solid {
	&:before {
		content: $bv-speed-solid;
	}
}
.bv-sports-motorsports-solid {
	&:before {
		content: $bv-sports-motorsports-solid;
	}
}
.bv-thumb-up-solid {
	&:before {
		content: $bv-thumb-up-solid;
	}
}
.bv-trophy-solid {
	&:before {
		content: $bv-trophy-solid;
	}
}
.bv-youtube-solid {
	&:before {
		content: $bv-youtube-solid;
	}
}
.bv-acute-solid {
	&:before {
		content: $bv-acute-solid;
	}
}
.bv-add-task-solid {
	&:before {
		content: $bv-add-task-solid;
	}
}
.bv-approval-delegation-solid {
	&:before {
		content: $bv-approval-delegation-solid;
	}
}
.bv-auto-graph-solid {
	&:before {
		content: $bv-auto-graph-solid;
	}
}
.bv-badge-solid {
	&:before {
		content: $bv-badge-solid;
	}
}
.bv-big-debts-solid {
	&:before {
		content: $bv-big-debts-solid;
	}
}
.bv-brightness-hight-solid {
	&:before {
		content: $bv-brightness-hight-solid;
	}
}
.bv-build-solid {
	&:before {
		content: $bv-build-solid;
	}
}
.bv-calculate-solid {
	&:before {
		content: $bv-calculate-solid;
	}
}
.bv-chart-line-down-solid {
	&:before {
		content: $bv-chart-line-down-solid;
	}
}
.bv-content-cut-solid {
	&:before {
		content: $bv-content-cut-solid;
	}
}
.bv-crane-solid {
	&:before {
		content: $bv-crane-solid;
	}
}
.bv-database-solid {
	&:before {
		content: $bv-database-solid;
	}
}
.bv-desktop-solid {
	&:before {
		content: $bv-desktop-solid;
	}
}
.bv-devices-solid {
	&:before {
		content: $bv-devices-solid;
	}
}
.bv-directions-boat-solid {
	&:before {
		content: $bv-directions-boat-solid;
	}
}
.bv-donut-small-solid {
	&:before {
		content: $bv-donut-small-solid;
	}
}
.bv-dove-solid {
	&:before {
		content: $bv-dove-solid;
	}
}
.bv-elderly-solid {
	&:before {
		content: $bv-elderly-solid;
	}
}
.bv-emergency-solid {
	&:before {
		content: $bv-emergency-solid;
	}
}
.bv-event-available-solid {
	&:before {
		content: $bv-event-available-solid;
	}
}
.bv-event-busy-solid {
	&:before {
		content: $bv-event-busy-solid;
	}
}
.bv-free-cancellation-solid {
	&:before {
		content: $bv-free-cancellation-solid;
	}
}
.bv-gasoline-solid {
	&:before {
		content: $bv-gasoline-solid;
	}
}
.bv-gold-solid {
	&:before {
		content: $bv-gold-solid;
	}
}
.bv-health-and-safety-solid {
	&:before {
		content: $bv-health-and-safety-solid;
	}
}
.bv-heap-snapshot-large-solid {
	&:before {
		content: $bv-heap-snapshot-large-solid;
	}
}
.bv-home-moving-solid {
	&:before {
		content: $bv-home-moving-solid;
	}
}
.bv-hourglass-top-solid {
	&:before {
		content: $bv-hourglass-top-solid;
	}
}
.bv-interest-free-solid {
	&:before {
		content: $bv-interest-free-solid;
	}
}
.bv-iventory-solid {
	&:before {
		content: $bv-iventory-solid;
	}
}
.bv-laptop-chart-solid {
	&:before {
		content: $bv-laptop-chart-solid;
	}
}
.bv-laptop-money-solid {
	&:before {
		content: $bv-laptop-money-solid;
	}
}
.bv-laptop-plus-solid {
	&:before {
		content: $bv-laptop-plus-solid;
	}
}
.bv-laptop-solid {
	&:before {
		content: $bv-laptop-solid;
	}
}
.bv-leaderboard-solid {
	&:before {
		content: $bv-leaderboard-solid;
	}
}
.bv-lock-open-solid {
	&:before {
		content: $bv-lock-open-solid;
	}
}
.bv-money-plus-solid {
	&:before {
		content: $bv-money-plus-solid;
	}
}
.bv-money-time-solid {
	&:before {
		content: $bv-money-time-solid;
	}
}
.bv-nutrition-solid {
	&:before {
		content: $bv-nutrition-solid;
	}
}
.bv-order-approve-solid {
	&:before {
		content: $bv-order-approve-solid;
	}
}
.bv-overview-solid {
	&:before {
		content: $bv-overview-solid;
	}
}
.bv-paid-solid {
	&:before {
		content: $bv-paid-solid;
	}
}
.bv-pending-actions-solid {
	&:before {
		content: $bv-pending-actions-solid;
	}
}
.bv-pix-solid {
	&:before {
		content: $bv-pix-solid;
	}
}
.bv-price-check-solid {
	&:before {
		content: $bv-price-check-solid;
	}
}
.bv-psychiatry-solid {
	&:before {
		content: $bv-psychiatry-solid;
	}
}
.bv-repaid-solid {
	&:before {
		content: $bv-repaid-solid;
	}
}
.bv-security-solid {
	&:before {
		content: $bv-security-solid;
	}
}
.bv-sell-solid {
	&:before {
		content: $bv-sell-solid;
	}
}
.bv-shopping-basket-solid {
	&:before {
		content: $bv-shopping-basket-solid;
	}
}
.bv-stethoscope-solid {
	&:before {
		content: $bv-stethoscope-solid;
	}
}
.bv-storefront-solid {
	&:before {
		content: $bv-storefront-solid;
	}
}
.bv-surprise-box-solid {
	&:before {
		content: $bv-surprise-box-solid;
	}
}
.bv-tax-paper-solid {
	&:before {
		content: $bv-tax-paper-solid;
	}
}
.bv-timelapse-solid {
	&:before {
		content: $bv-timelapse-solid;
	}
}
.bv-today-solid {
	&:before {
		content: $bv-today-solid;
	}
}
.bv-verified-user-solid {
	&:before {
		content: $bv-verified-user-solid;
	}
}
.bv-wallet-solid {
	&:before {
		content: $bv-wallet-solid;
	}
}
.bv-wheel-solid {
	&:before {
		content: $bv-wheel-solid;
	}
}
