.bi-account-box-solid {
	&:before {
		content: $bi-account-box-solid;
	}
}
.bi-agriculture-solid {
	&:before {
		content: $bi-agriculture-solid;
	}
}
.bi-alternate-email-solid {
	&:before {
		content: $bi-alternate-email-solid;
	}
}
.bi-arrow-back-solid {
	&:before {
		content: $bi-arrow-back-solid;
	}
}
.bi-arrow-circle-right-solid {
	&:before {
		content: $bi-arrow-circle-right-solid;
	}
}
.bi-arrow-forward-solid {
	&:before {
		content: $bi-arrow-forward-solid;
	}
}
.bi-arrow-north-east-solid {
	&:before {
		content: $bi-arrow-north-east-solid;
	}
}
.bi-arrow-north-solid {
	&:before {
		content: $bi-arrow-north-solid;
	}
}
.bi-arrow-north-weast-solid {
	&:before {
		content: $bi-arrow-north-weast-solid;
	}
}
.bi-arrow-selector-tool-solid {
	&:before {
		content: $bi-arrow-selector-tool-solid;
	}
}
.bi-arrow-south-solid {
	&:before {
		content: $bi-arrow-south-solid;
	}
}
.bi-article-solid {
	&:before {
		content: $bi-article-solid;
	}
}
.bi-assignment-solid {
	&:before {
		content: $bi-assignment-solid;
	}
}
.bi-autorenew-solid {
	&:before {
		content: $bi-autorenew-solid;
	}
}
.bi-bank-solid {
	&:before {
		content: $bi-bank-solid;
	}
}
.bi-bevipentagono-solid {
	&:before {
		content: $bi-bevipentagono-solid;
	}
}
.bi-beviprotege-solid {
	&:before {
		content: $bi-beviprotege-solid;
	}
}
.bi-blocks-solid {
	&:before {
		content: $bi-blocks-solid;
	}
}
.bi-bolt-solid {
	&:before {
		content: $bi-bolt-solid;
	}
}
.bi-bookmark-solid {
	&:before {
		content: $bi-bookmark-solid;
	}
}
.bi-book-solid {
	&:before {
		content: $bi-book-solid;
	}
}
.bi-campaign-solid {
	&:before {
		content: $bi-campaign-solid;
	}
}
.bi-chalkboard-user-solid {
	&:before {
		content: $bi-chalkboard-user-solid;
	}
}
.bi-chart-line-up-solid {
	&:before {
		content: $bi-chart-line-up-solid;
	}
}
.bi-chat-solid {
	&:before {
		content: $bi-chat-solid;
	}
}
.bi-check-circle-solid {
	&:before {
		content: $bi-check-circle-solid;
	}
}
.bi-chevron-back-soilid {
	&:before {
		content: $bi-chevron-back-soilid;
	}
}
.bi-chevron-down-solid {
	&:before {
		content: $bi-chevron-down-solid;
	}
}
.bi-chevron-forward-soilid {
	&:before {
		content: $bi-chevron-forward-soilid;
	}
}
.bi-chevron-left-solid {
	&:before {
		content: $bi-chevron-left-solid;
	}
}
.bi-chevron-right-solid {
	&:before {
		content: $bi-chevron-right-solid;
	}
}
.bi-chevron-up-solid {
	&:before {
		content: $bi-chevron-up-solid;
	}
}
.bi-cloud-solid {
	&:before {
		content: $bi-cloud-solid;
	}
}
.bi-construction-solid {
	&:before {
		content: $bi-construction-solid;
	}
}
.bi-contact-mail-solid {
	&:before {
		content: $bi-contact-mail-solid;
	}
}
.bi-contact-phone-solid {
	&:before {
		content: $bi-contact-phone-solid;
	}
}
.bi-contact-support-solid {
	&:before {
		content: $bi-contact-support-solid;
	}
}
.bi-corporate-solid {
	&:before {
		content: $bi-corporate-solid;
	}
}
.bi-credit-card-solid {
	&:before {
		content: $bi-credit-card-solid;
	}
}
.bi-cube-solid {
	&:before {
		content: $bi-cube-solid;
	}
}
.bi-description-solid {
	&:before {
		content: $bi-description-solid;
	}
}
.bi-directions-car-solid {
	&:before {
		content: $bi-directions-car-solid;
	}
}
.bi-door-open-solid {
	&:before {
		content: $bi-door-open-solid;
	}
}
.bi-draft-solid {
	&:before {
		content: $bi-draft-solid;
	}
}
.bi-drafts-solid {
	&:before {
		content: $bi-drafts-solid;
	}
}
.bi-eco-solid {
	&:before {
		content: $bi-eco-solid;
	}
}
.bi-email-content-solid {
	&:before {
		content: $bi-email-content-solid;
	}
}
.bi-emergency-home-solid {
	&:before {
		content: $bi-emergency-home-solid;
	}
}
.bi-event-solid {
	&:before {
		content: $bi-event-solid;
	}
}
.bi-facebook-solid {
	&:before {
		content: $bi-facebook-solid;
	}
}
.bi-face-retouching-natural-solid {
	&:before {
		content: $bi-face-retouching-natural-solid;
	}
}
.bi-fact-check-solid {
	&:before {
		content: $bi-fact-check-solid;
	}
}
.bi-falabevi-solid {
	&:before {
		content: $bi-falabevi-solid;
	}
}
.bi-feed-solid {
	&:before {
		content: $bi-feed-solid;
	}
}
.bi-fgts-solid {
	&:before {
		content: $bi-fgts-solid;
	}
}
.bi-groups-solid {
	&:before {
		content: $bi-groups-solid;
	}
}
.bi-hand-archive-solid {
	&:before {
		content: $bi-hand-archive-solid;
	}
}
.bi-hand-credit-card-solid {
	&:before {
		content: $bi-hand-credit-card-solid;
	}
}
.bi-hand-house-solid {
	&:before {
		content: $bi-hand-house-solid;
	}
}
.bi-hand-money-solid {
	&:before {
		content: $bi-hand-money-solid;
	}
}
.bi-handshake-business-solid {
	&:before {
		content: $bi-handshake-business-solid;
	}
}
.bi-headset-mic-solid {
	&:before {
		content: $bi-headset-mic-solid;
	}
}
.bi-heart-solid {
	&:before {
		content: $bi-heart-solid;
	}
}
.bi-help-center-solid {
	&:before {
		content: $bi-help-center-solid;
	}
}
.bi-help-solid {
	&:before {
		content: $bi-help-solid;
	}
}
.bi-home-solid {
	&:before {
		content: $bi-home-solid;
	}
}
.bi-house-car-solid {
	&:before {
		content: $bi-house-car-solid;
	}
}
.bi-import-contacts-solid {
	&:before {
		content: $bi-import-contacts-solid;
	}
}
.bi-instagram-solid {
	&:before {
		content: $bi-instagram-solid;
	}
}
.bi-key-solid {
	&:before {
		content: $bi-key-solid;
	}
}
.bi-label-solid {
	&:before {
		content: $bi-label-solid;
	}
}
.bi-launch-solid {
	&:before {
		content: $bi-launch-solid;
	}
}
.bi-lightbulb-solid {
	&:before {
		content: $bi-lightbulb-solid;
	}
}
.bi-linkedin-solid {
	&:before {
		content: $bi-linkedin-solid;
	}
}
.bi-list-alt-solid {
	&:before {
		content: $bi-list-alt-solid;
	}
}
.bi-local-shipping-solid {
	&:before {
		content: $bi-local-shipping-solid;
	}
}
.bi-lock-person-solid {
	&:before {
		content: $bi-lock-person-solid;
	}
}
.bi-lock-solid {
	&:before {
		content: $bi-lock-solid;
	}
}
.bi-luggage-solid {
	&:before {
		content: $bi-luggage-solid;
	}
}
.bi-mail-solid {
	&:before {
		content: $bi-mail-solid;
	}
}
.bi-mark-as-unread-solid {
	&:before {
		content: $bi-mark-as-unread-solid;
	}
}
.bi-medal-honor-solid {
	&:before {
		content: $bi-medal-honor-solid;
	}
}
.bi-medal-solid {
	&:before {
		content: $bi-medal-solid;
	}
}
.bi-money-solid {
	&:before {
		content: $bi-money-solid;
	}
}
.bi-mood-solid {
	&:before {
		content: $bi-mood-solid;
	}
}
.bi-perm-phone-msg-solid {
	&:before {
		content: $bi-perm-phone-msg-solid;
	}
}
.bi-person-remove-solid {
	&:before {
		content: $bi-person-remove-solid;
	}
}
.bi-person-solid {
	&:before {
		content: $bi-person-solid;
	}
}
.bi-phone-in-talk-solid {
	&:before {
		content: $bi-phone-in-talk-solid;
	}
}
.bi-pie-chart-solid {
	&:before {
		content: $bi-pie-chart-solid;
	}
}
.bi-place-solid {
	&:before {
		content: $bi-place-solid;
	}
}
.bi-query-stats-solid {
	&:before {
		content: $bi-query-stats-solid;
	}
}
.bi-question-answer-solid {
	&:before {
		content: $bi-question-answer-solid;
	}
}
.bi-quiz-solid {
	&:before {
		content: $bi-quiz-solid;
	}
}
.bi-sack-money-solid {
	&:before {
		content: $bi-sack-money-solid;
	}
}
.bi-saving-pigs-solid {
	&:before {
		content: $bi-saving-pigs-solid;
	}
}
.bi-school-solid {
	&:before {
		content: $bi-school-solid;
	}
}
.bi-search-solid {
	&:before {
		content: $bi-search-solid;
	}
}
.bi-sentiment-dissatisfied-solid {
	&:before {
		content: $bi-sentiment-dissatisfied-solid;
	}
}
.bi-sentiment-satisfied-solid {
	&:before {
		content: $bi-sentiment-satisfied-solid;
	}
}
.bi-sentiment-very-satisfied-solid {
	&:before {
		content: $bi-sentiment-very-satisfied-solid;
	}
}
.bi-settings-solid {
	&:before {
		content: $bi-settings-solid;
	}
}
.bi-shield-with-house-solid {
	&:before {
		content: $bi-shield-with-house-solid;
	}
}
.bi-smart-display-solid {
	&:before {
		content: $bi-smart-display-solid;
	}
}
.bi-smartphone-solid {
	&:before {
		content: $bi-smartphone-solid;
	}
}
.bi-snap-solid {
	&:before {
		content: $bi-snap-solid;
	}
}
.bi-solar-panel-solid {
	&:before {
		content: $bi-solar-panel-solid;
	}
}
.bi-speaker-notes-solid {
	&:before {
		content: $bi-speaker-notes-solid;
	}
}
.bi-speed-solid {
	&:before {
		content: $bi-speed-solid;
	}
}
.bi-sports-motorsports-solid {
	&:before {
		content: $bi-sports-motorsports-solid;
	}
}
.bi-swipe-right-solid {
	&:before {
		content: $bi-swipe-right-solid;
	}
}
.bi-target-solid {
	&:before {
		content: $bi-target-solid;
	}
}
.bi-thumb-up-solid {
	&:before {
		content: $bi-thumb-up-solid;
	}
}
.bi-trophy-solid {
	&:before {
		content: $bi-trophy-solid;
	}
}
.bi-verified-solid {
	&:before {
		content: $bi-verified-solid;
	}
}
.bi-warning-solid {
	&:before {
		content: $bi-warning-solid;
	}
}
.bi-watch-later-solid {
	&:before {
		content: $bi-watch-later-solid;
	}
}
.bi-wifi-solid {
	&:before {
		content: $bi-wifi-solid;
	}
}
.bi-work-solid {
	&:before {
		content: $bi-work-solid;
	}
}
.bi-youtube-solid {
	&:before {
		content: $bi-youtube-solid;
	}
}
